<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Login</h1>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-3">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form action="{{ url_for('login') }}" method="post" class="mb-3">
        <div class="form-group">
          <label for="username">Nome utente</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Nome utente">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </body>
</html>
